.navigation
    background: black

    ul
        margin: 0
        padding: 0
        list-style: none

        li
            display: inline-block
            margin: 0
            padding: 0

            .app-logo
                display: block
                padding: 10px
                color: white
                text-decoration: none
                font-size: 1.2em
                font-weight: 300
                text-transform: uppercase
                transition: all 0.3s ease-in-out

            a, button
                display: block
                padding: 10px
                color: white
                text-decoration: none
                font-size: 1.2em
                font-weight: 300
                text-transform: uppercase
                transition: all 0.3s ease-in-out

                &:hover
                    background: #f5f5f5
                    color: black
                    cursor: pointer
                &.active
                    background: #f5f5f5
                    color: black

            // Reset button styles
            button
                background: black
                border: none
